extends layout

block content
  h1= title

  p Write your book so you can remeber!
  div
   a.button(href="/books/new") Create New Book
  form(action="/books/search/", method="get")
    p
      input(type="search", name="query", placeholder="Search All Books")
      input.searchButton(type="submit", value="Search")
  br

  br
  table(style="width:100%")
    tr
      th Title
      th Author
      th Genre
      th Year
    each book in books
      tr
          td
            a(href=`/books/${book.id}`) #{book.title}
          td=book.author
          td=book.genre
          td=book.year
include pagination